@import url('bootstrapv4.6.1.css');


.card-login {
    padding: 30px 0 0 0;
    width: 350px;
    margin: 0 auto;
}

.body-container {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    height: 100vh;
}